<!-- NavBar test -->
<div class="topnav">
    <a class="active" href="#home">&#9734; Accommodations</a>
    <div class="topnav-right">
      <a href="#search">Home</a>
      <a href="#about">Requests</a>
      <a class="swapLanguage" (click)="swapLanguage()">{{ "TEST.BUTTON" | translate }}</a>
      <a href="#about">Logout</a>
    </div>
  </div>

<div class="container p-5">
    <h1 class="display-4">Landing Component</h1>
    <p class="lead">Calling the accommodations service below <a href="http://localhost:3000/accommodations/api/v1/index/greeting">here</a></p>
    <ng-container *ngIf="greeting$ | async as messages">
        <p class="my-0 text-secondary font-weight-light" *ngFor="let message of messages">... {{message.greeting}}</p>
    </ng-container>

    <!-- Test Area for Ngx-Translate -->
    <div class="card">
        <div class="card-header">
            <h2>{{ "TEST.TITLE" | translate }}</h2>
        </div>
        <div class="card-body">
            <p>{{ "TEST.MESSAGE" | translate }}</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="swapLanguage()">{{ "TEST.BUTTON" | translate }}</button>
        </div>
    </div>
    
</div>

