<div class="row mx-0">
    <div class="col-sm-1 col-md-2"></div>
    <div class="col-sm-10 col-md-8">
        <div class="mt-5">
            <!-- Opener -->
            <div>
                <p class="text-muted mb-0">{{ "NewRequest.ProjectTitle" | translate }}</p>
                <h1 class="my-0">{{ "NewRequest.PageTitle" | translate }}</h1>
            </div>
            <!-- Form -->
            <div class="mt-4">
                <form [formGroup]="requestForm" (ngSubmit)="requestFormSubmit()">
                    <h3>{{ "NewRequest.RequestTypeTitle" | translate }}</h3>
                    <p>{{ "NewRequest.RequestTypeDesc" | translate }}</p>
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6">
                            <!-- Request Type -->
                            <label for="requestType">{{ "NewRequest.RequestTypeLabel" | translate }}</label>
                            <select name="requestType" id="requestType" class="form-control" formControlName="requestType"
                            [ngClass]="{'is-valid': isFieldValid('requestType'), 'is-invalid': isFieldInValid('requestType')}">
                                <option value="" class="text-muted">{{ "NewRequest.RequestTypeHint" | translate }}</option>
                                <option>{{ "NewRequest.RequestTypeOpt1" | translate }}</option>
                                <option>{{ "NewRequest.RequestTypeOpt2" | translate }}</option>
                                <option>{{ "NewRequest.RequestTypeOpt3" | translate }}</option>
                            </select>
                            <span *ngIf="isFieldInValid('requestType')" class="invalid-feedback">Required.</span>
                        </div>
                    </div>
                    <h3>{{ "NewRequest.EmployeeTitle" | translate }}</h3>
                    <p>{{ "NewRequest.EmployeeDesc" | translate }}</p>
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6">
                            <!-- Employee Select -->
                            <!-- Will change when adding in Microsoft Graph API -->
                            <label for="employee">{{ "NewRequest.EmployeeTitle" | translate }}</label>
                            <input type="text" name="employee" id="employee" formControlName="employee" placeholder="{{ 'NewRequest.EmployeeHint' | translate }}" class="form-control"
                            [ngClass]="{'is-valid': isFieldValid('employee'), 'is-invalid': isFieldInValid('employee')}">
                            <span *ngIf="isFieldInValid('employee')" class="invalid-feedback">Required.</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <p>{{ "NewRequest.EmployeeSelected" | translate }}</p>
                        <div class="card">
                            <div class="card-body">
                                <h6>John Smith</h6>
                                <p class="text-muted">john.smith@cra-arc.gc.ca</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6">
                            <!-- Employee Type -->
                            <label for="employeeType">{{ "NewRequest.EmployeeType" | translate }}</label>
                            <select name="employeeType" id="employeeType" formControlName="employeeType" class="form-control"
                            [ngClass]="{'is-valid': isFieldValid('employeeType'), 'is-invalid': isFieldInValid('employeeType')}">
                                <option value="" class="text-muted">{{ "NewRequest.RequestTypeHint" | translate }}</option>
                                <option>{{ "NewRequest.EmployeeTypeOpt1" | translate }}</option>
                                <option>{{ "NewRequest.EmployeeTypeOpt2" | translate }}</option>
                                <option>{{ "NewRequest.EmployeeTypeOpt3" | translate }}</option>
                                <option>{{ "NewRequest.EmployeeTypeOpt4" | translate }}</option>
                                <option>{{ "NewRequest.EmployeeTypeOpt5" | translate }}</option>
                                <option>{{ "NewRequest.EmployeeTypeOpt6" | translate }}</option>
                            </select>
                            <span *ngIf="isFieldInValid('employeeType')" class="invalid-feedback">Required.</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <!-- Critical Hire Status -->
                        <label>{{ "NewRequest.IsCriticalLabel" | translate }}</label>
                        <div class="form-check">
                            <input type="radio" name="isCritical" id="isCriticalTrue" class="form-check-input" formControlName="isCritical" value="true">
                            <label for="isCriticalTrue" class="form-check-label">{{ "NewRequest.IsCriticalTrueLabel" | translate }}</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="isCritical" id="isCriticalFalse" class="form-check-input" formControlName="isCritical" value="false">
                            <label for="isCriticalFalse" class="form-check-label">{{ "NewRequest.IsCriticalFalseLabel" | translate }}</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6">
                            <!-- Date of move -->
                            <label for="dateOfMove">{{ "NewRequest.DateOfMoveLabel" | translate }}</label>
                            <input type="date" class="form-control" formControlName="dateOfMove"
                            [ngClass]="{'is-valid': isFieldValid('dateOfMove'), 'is-invalid': isFieldInValid('dateOfMove')}">
                            <span *ngIf="isFieldInValid('dateOfMove')" class="invalid-feedback">Required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="!requestForm.valid">{{ "NewRequest.SubmitBtn" | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-1 col-md-2"></div>
</div>

