<div class="topnav">
    <div class="row justify-content-center mx-0">
        <div class="col-sm-10 col-md-6">
            <div class="row">
                <div class="col-sm-12 col-md-6 d-flex align-items-center">
                    <img src="assets/images/sig-blk-en.svg" class="pt-1">
                </div>
                <div class="col-sm-12 col-md-6">
                    <a href="#search">Home</a>
                    <a href="#about">Requests</a>
                    <a class="swapLanguage" (click)="swapLanguage()">{{ "TEST.BUTTON" | translate }}</a>
                    <a href="#about">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>