<div class="container-small">
    <!-- Navigation -->
    <a routerLink="/newRequest">Back</a>
    <!-- Opener -->
    <div class="mt-3">
        <p class="text-muted mb-0">{{ "NewRequest.ProjectTitle" | translate }}</p>
        <h1 class="my-0">{{ "SelectWorkspace.PageTitle" | translate }}</h1>
    </div>
    <div class="mt-4">
        <!-- Filter -->
        <form [formGroup]="filterForm" (ngSubmit)="filterSearch()">
            <!-- Workspace Type -->
            <div class="form-group">
                <label for="workspaceType">{{ "SelectWorkspace.WorkspaceTypeLabel" | translate }}</label>
                <input type="text" name="workspaceType" id="workspaceType" formControlName="workspaceType" class="form-control">
            </div>
            <!-- Workspace Floor -->
            <div class="form-group">
                <label for="workspaceFloor">{{ "SelectWorkspace.WorkspaceFloorLabel" | translate }}</label>
                <select name="workspaceFloor" id="workspaceFloor" formControlName="workspaceFloor" class="form-control">
                    <option value="all">All</option>
                    <!-- will be a forEach when functional -->
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ "SelectWorkspace.FilterBtn" | translate }}</button>
            </div>
        </form>
        <a routerLink="/newRequest">{{ "SelectWorkspace.CancelRequest" | translate }}</a>
        <!-- Search Results -->
        <div class="mt-4">
            <label for="filterResults">{{ "SelectWorkspace.FilterResultsLabel" | translate }}</label>
            <div name="filterResults" class="filterResults card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Example1 Floor
                        <h3>Example1 Workspace Name</h3>
                        Example1 Workspace Type<br>
                        Example1 Workspace Capacity<br>
                        <a class="link">{{ "SelectWorkspace.SelectWorkspaceBtn" | translate }}</a>
                    </li>
                    <li class="list-group-item">
                        Example2 Floor
                        <h3>Example2 Workspace Name</h3>
                        Example2 Workspace Type<br>
                        Example2 Workspace Capacity<br>
                        <a class="link">{{ "SelectWorkspace.SelectWorkspaceBtn" | translate }}</a>
                    </li>
                    <li class="list-group-item">
                        Example3 Floor
                        <h3>Example3 Workspace Name</h3>
                        Example3 Workspace Type<br>
                        Example3 Workspace Capacity<br>
                        <a class="link">{{ "SelectWorkspace.SelectWorkspaceBtn" | translate }}</a>
                    </li>
                    <li class="list-group-item">
                        Example4 Floor
                        <h3>Example4 Workspace Name</h3>
                        Example4 Workspace Type<br>
                        Example4 Workspace Capacity<br>
                        <a class="link">{{ "SelectWorkspace.SelectWorkspaceBtn" | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
