/* You can add global styles to this file, and also import other style files */

// Start Override Section //
// Example:
// $primary: #fff540;

// End Override Section //

// Start Global Class Section //
// Alternate containers linked with screen size
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    } 
}

.container-small, .container-large {
    max-width: 100%;
    margin: 0 auto;
}

// End Global Class Section //

// Imports for style files
@import './node_modules/bootstrap/scss/bootstrap.scss';

